<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>COMPONENTES 2 -</title>
</h:head>
    <h:body>
          <h2 align="center">COMPONENTES HTML - Botões, Links, Imagens e Entradas de Texto 2  </h2>

        <h:form id="formulario">

            <h:commandButton value="Executar"
             action="#{controleComponentes.executar()}"
             actionListener="#{controleComponentes.listener}"
             id="btnEnviar"    />
              <!-- exemplo para capaturar o evento do lado do servidordequal botão gerouo evento-->
            <br />

            <h:button outcome="/main"    value="Main - link direto"  />
            <br />

            <h:link outcome="/main" value="Main - link" />

        </h:form>
        <br />

        <h:outputLink value="http://www.google.com.br"  > http://www.google.com.br</h:outputLink>
        <br />

        <!-- saida de texto -->
        <h:outputText value="#{controleComponentes.idComponente}" />
        <br />

        <h:panelGrid columns="2" border="2" >

             <h:link outcome="/praticar">PRATICAR</h:link>
                <h:link outcome="/simular">SIMULAR</h:link>
                <h:link outcome="/estatistica">ESTATÍSTICAS</h:link>
                <h:link outcome="/noticias">NOTÍCIAS</h:link>
                <h:link outcome="/register">Registrar User</h:link>
                <h:link outcome="/listarRegister">Listar User</h:link>
                <h:link outcome="/registerPergunta">Registrar Perguntas</h:link>
                <h:link outcome="/listarPergunta">Listar Perguntas</h:link>
                <h:panelGrid >
                    <h:link outcome="componentes">Componentes1</h:link>
                    <h:link outcome="componentes2">Componentes2</h:link>
                </h:panelGrid>
        </h:panelGrid >

        <br />





        <p><h:link outcome="/main">Voltar</h:link></p>
    </h:body>
</html>