<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f ="http://java.sun.com/jsf/core"  >

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <h2 align="center">COMPONENTES HTML 3- Formulario </h2>

     <h:form id="formulario">
        <h:inputHidden value="#{controleFormulario.id}" id="id"/>
        <h:panelGrid columns="2">
            <f:facet name="header">Dados da Pessoa</f:facet>

            <h:outputLabel value="Nome:"  />
            <h:inputText value="#{controleFormulario.nome}" id="nome"  size="50"  maxlength="50" />

            <h:outputLabel value="Senha:" id="senha"  size="10"  maxlength="10"  />
            <h:inputSecret value="#{controleFormulario.senha}" />

            <h:outputLabel value="Observações:" />
            <h:inputTextarea value="#{controleFormulario.obs}" cols="30" rows="6"/>

            <h:outputLabel value="Grau Instrução:"  />
            <h:selectOneMenu value="#{controleFormulario.grau}" id="grau">
                <f:selectItem itemLabel=" Selecione  " noSelectionOption="true" />
                <!-- gerado de maneira estatica
                f:selectItem itemLabel="Ensino Fundamental"    itemValue="Ensino Fundamental" />
                <f:selectItem itemLabel="Ensino Médio"          itemValue="Ensino Médio" />
                <f:selectItem itemLabel="Ensino Superior"       itemValue="Ensino Superior" /-->
                 <f:selectItems var="item" value="#{controleFormulario.listaGrau}"
                                itemValue="#{item}"
                                itemLabel="#{item}" />
            </h:selectOneMenu>

            <h:column>
                <div  align="center">
                    <h:commandButton value="processar"
                             action="#{controleFormulario.processa()}" />
                </div>
            </h:column>

        </h:panelGrid>
     </h:form>

     <h:outputText value="#{controleFormulario.saida}"  escape="false"  />

</h:body>

</html>