<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>COMPONENTES HTML</title>
</h:head>

    <h:body>

         <h2 align="center">COMPONENTES HTML - Botões, Links, Imagens e Entradas de Texto</h2>

        <h:form id="formulario">

            <h:commandButton value="Exemplo de Botão - Gerar texto"   action="#{controleComponentes.geraTexto}"/>

            <br  />

            <h:commandLink   action="#{controleComponentes.geraTexto}">
                  <!--imagen no link mas poderia ser só imagen , poderia usar library=imagens e name=h81m-h.jpg -->
                <h:graphicImage url="/resources/imagens/h81m-h.jpg" width="300" >
                    Imagen no link, poderiaser uma imagen de cruds
                </h:graphicImage>

            </h:commandLink>

        </h:form>

        <br />

        <!-- saida de texto -->
        <h:outputText value="#{controleComponentes.texto}" />

        <br />
        <h:outputLabel value="Exemplo de  outputLabel "  />
        <br />
        <h:outputFormat value=" Eu moro em {0}, {1} ">

            <f:param value="Guarulhos" />
            <f:param value="São Paulo" />

        </h:outputFormat>


        <p><h:link outcome="/main">Voltar</h:link></p>
    </h:body>

</html>