<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<h:head>
    <title>Tabela</title>
</h:head>

    <h:body>

        <table>
              <ui:repeat value="#{controleTabela.lista}"   var="obj">
                <tr>
                    <td>#{obj.id}</td>
                    <td>#{obj.nome}</td>
                    <td>#{obj.telefone}</td>
                </tr>

            </ui:repeat>
        </table>

        <hr/>

        <h:dataTable value="#{controleTabela.lista}"   var="obj"
            cellpadding="3" cellspacing="0" border="1"
            >
            <f:facet name="caption">Exemplo de Tabela</f:facet>
            <f:facet name="header">Listagem de Pessoas</f:facet>
            <f:facet name="footer">total de registros #{controleTabela.lista.size()}</f:facet>
            <h:column>#{obj.id}</h:column>
            <h:column>#{obj.nome}</h:column>
            <h:column> #{obj.telefone}</h:column>
        </h:dataTable>

        <hr/>

        <h:dataTable value="#{controleTabela.lista}"   var="obj" dir="rtl"
                     cellpadding="3" cellspacing="0" border="1" first="3" rows="5"
                >
            <h:column>#{obj.id}</h:column>
            <h:column>#{obj.nome}</h:column>
            <h:column> #{obj.telefone}</h:column>
        </h:dataTable>

        <hr/>

        <h:dataTable value="#{controleTabela.lista}"   var="obj" frame="box"
            rules="rows"
            >
            <h:column>#{obj.id}</h:column>
            <h:column>#{obj.nome}</h:column>
            <h:column> #{obj.telefone}</h:column>
        </h:dataTable>

    </h:body>
</html>