<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
  <title>SIMULAR</title>
</h:head>
<h:body>

    <br />
    <h2 align="center">SIMULAR</h2>
    <br />

    <p><h:link outcome="/main">Voltar</h:link></p>

</h:body>
</html>
