<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
	<h:form>
		<h:panelGrid columns="1">
			<h:commandLink value="Home" action="/index" />
            <h:commandLink value="Tabela" action="/tabelas/tabelasComEstilosCSS.xhtml" />
            <h:commandLink value="Listar" action="/tabelas/tabelaEditavel.xhtml" />
            <h:commandLink value="Componentes" action="/meusComponentes" />
            <h:commandLink value="Main" action="/main" />
            <h:commandLink value="Crud Ajax" action="#{controleCRUDAjax.listar()}" />
		</h:panelGrid>
	</h:form>
</html>
