<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
  <title>Listar Pergunta</title>
</h:head>
<h:body>
  <h:form>
    <h2>Listar Perguntas Editado com Parametros</h2>



      <h:dataTable value="#{perguntaManagedBean.listaPerguntasJPA}" var="pergunta"  >

          <h:column>#{pergunta.id}</h:column>
          <h:column>#{pergunta.pergunta}</h:column>
          <h:column>#{pergunta.complemento}</h:column>
          <h:column>#{pergunta.resposta}</h:column>
          <h:column>#{pergunta.data}</h:column>
          <h:column>#{pergunta.valor}</h:column>

          <h:column>
              <h:commandLink action="#{perguntaManagedBean.editarPergunta(pergunta)}" value="Editar" />
          </h:column>

          <h:column>
              <h:commandLink action="#{perguntaManagedBean.excluirPergunta(pergunta)}" value="Excluir" />
          </h:column>

      </h:dataTable>


    <p><h:commandButton value="Cancel" action="/main" immediate="true" /></p>
  </h:form>
</h:body>
</html>
