<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
  <title>Registrar Pergunta</title>
</h:head>
<h:body>
  <h:form id="formulario">
    <h2>Simular Perguntas</h2>
    <h4>Formulário de Registro</h4>
    <table border ="1">
        <tr>
            <td>Id</td>
            <td><h:inputText label="Código"
                             id="id" value="#{perguntaManagedBean.perguntaPojo.id}"   />
                <h:message for="id" />
            </td>
        </tr>
      <tr>
        <td>Pergunta</td>
        <td><h:inputText label="Pergunta" id="pergunta" value="#{perguntaManagedBean.perguntaPojo.pergunta}"   required="true"
                       requiredMessage="A pergunta deve ser informada" validatorMessage="O pergunta dever tem no minimo 3 e no máximo 40 caracteres">
            <f:validateLength minimum="3" maximum="40" />
            </h:inputText>


          <h:message for="pergunta" style="color: red"/>
        </td>
      </tr>
      <tr>
        <td>Complemento</td>
        <td><h:inputText label="Complemento"  id="complemento" value="#{perguntaManagedBean.perguntaPojo.complemento}"     required="true"
                         requiredMessage="O complemento deve ser informada " />
          <h:message for="complemento" style="color: red" />
        </td>
      </tr>
      <tr>
        <td>Resposta:</td>
        <td>
          <h:selectOneRadio label="Resposta"  id="resposta" value="#{perguntaManagedBean.perguntaPojo.resposta}"      required="true"
                            requiredMessage="O Valor da resposta deve ser informado " >
            <f:selectItem itemLabel="V" itemValue="V" />
            <f:selectItem itemLabel="F" itemValue="F" />
          </h:selectOneRadio>
          <h:message for="resposta" />
        </td>
      </tr>

        <tr>
            <td>Data:</td>
            <td>
                <h:inputText label="Data" value="#{perguntaManagedBean.perguntaPojo.data}"  required="true" id="data">
                <f:convertDateTime pattern="MM-dd-yy" />
            </h:inputText> (mm-dd-yy)
                <h:message for="data" />
            </td>
        </tr>
      <tr>
        <td>Valor:</td>
        <td>
          <h:selectOneMenu label="Valor"    value="#{perguntaManagedBean.perguntaPojo.valor}">
            <f:selectItem itemLabel="1" itemValue="1" />
            <f:selectItem itemLabel="2" itemValue="2" />
            <f:selectItem itemLabel="3" itemValue="3" />
          </h:selectOneMenu>
        </td>
      </tr>

    </table>

      <p><h:commandButton value="Confirmar Dados"   action="#{perguntaManagedBean.addPergunta}" />
      </p>

    <p><h:commandButton value="Cancel" action="/main" immediate="true" /></p>

  </h:form>
</h:body>
</html>
