<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head><title>Listagem de grupos</title></h:head> 
<h:body> 
	<h:form>
		<h:messages />
		<h:commandLink value="Novo registro" action="#{controleGrupo.novo()}" />
		<h:dataTable value="#{controleGrupo.dao.listarTodos()}" var="obj"
			frame="box" rules="all" cellpadding="3"   >
			<h:column>
				<f:facet name="header">ID</f:facet>
				#{obj.id}
			</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
				#{obj.nome}
			</h:column>			
			<h:column>
				<f:facet name="header">Alterar</f:facet>
				<h:commandLink value="Alterar" 
				action="#{controleGrupo.alterar(obj)}" />
			</h:column>		
			<h:column>
				<f:facet name="header">Excluir</f:facet>
				<h:commandLink value="Excluir" 
				action="#{controleGrupo.excluir(obj)}"
				onclick="if (!confirm('Confirma a exclusão do grupo?')) return false" />
			</h:column>				
		</h:dataTable>
        <h:commandButton value="Cancel" action="/main" immediate="true" />
	</h:form>
</h:body> 
</html>
