<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
  <title>A Simple JavaServer Faces Registration Application</title>
</h:head>
<h:body>
  <h:form>
    <h2>JSF Registration App</h2>
    <h4>Registration Confirmation</h4>
    <h:messages />
    <table>
      <tr>
        <td>First Name:</td>
        <td>
          <h:outputText value="#{controleUsuario.firstName}" />
        </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>
          <h:outputText value="#{controleUsuario.lastName}"/>
        </td>
      </tr>
      <tr>
        <td>Sex:</td>
        <td>
          <h:outputText value="#{controleUsuario.sex}" />
        </td>
      </tr>
      <tr>
        <td>Date of Birth:</td>
        <td>
          <h:outputText value="#{controleUsuario.dob}" />
        </td>
      </tr>
      <tr>
        <td>Email Address:</td>
        <td>
          <h:outputText value="#{controleUsuario.email}" />
        </td>
      </tr>
      <tr>
        <td>Service Level:</td>
        <td>
          <h:outputText value="#{controleUsuario.serviceLevel}" />
        </td>
      </tr>
    </table>
      <p><h:link outcome="main">Voltar</h:link></p>
  </h:form>
</h:body>
</html>
