<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
  <title>Listar Pergunta</title>
</h:head>
<h:body>
  <h:form>
    <h2>Listar Usuario</h2>

    <h:dataTable value="#{controleUsuario.userBeanModelControler.listaUsuario}" var="user">

        <h:column>#{user.firstName}</h:column>
        <h:column>#{user.lastName}</h:column>
        <h:column>#{user.email}</h:column>

    </h:dataTable>





    <p><h:commandButton value="Cancel" action="main" immediate="true" /></p>
  </h:form>
</h:body>
</html>
