<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/template.xhtml">
<ui:define name="tituloJanela">Ajax</ui:define>

<ui:define name="conteudo">
	<!--script>
		function digitando(evento){
			alert("O evento ocorreu: "+evento.status);
		}

		function erroDigitando(evento){
			alert("Ocorreu um erro durante o  evento "+evento.status);
		}		
	</script-->

	<h:form id="form1">
		<h:panelGrid columns="2">

			<h:outputLabel value="Digite um  Texto" />

			<h:inputText value="#{controleAjax.texto}" id="texto">
			<!--f:ajax listener="#{controleAjax.inverteTexto()}"	execute="@this"
                    render="saida" event="keyup" onerror="digitando"/-->
			</h:inputText>

			<h:outputLabel value="Texto Invertido" />

			<h:outputLabel value="#{controleAjax.saida}" id="saida" />

			<f:facet name="footer">
				<h:commandButton action="#{controleAjax.inverteTexto()}" value="Inverter">
					<f:ajax render="@form" execute="texto"/>
				</h:commandButton>
			</f:facet>


		</h:panelGrid>
	
	</h:form>

</ui:define>

</ui:composition>

</html>