<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
  <title>SIMULADOR</title>
</h:head>
<h:body>

    <h:outputLabel value="#{controladorPrincipal.mensagen}" />
    <h:outputLabel value="#{controladorPrincipal.dataHoraEvento}" />    <br />


    <table align="center" cellpadding="10" cellspacing="10">

        <tr>
            <td>
                <h:link outcome="main">SIMULADOR por link</h:link>
            </td>
        </tr>

        <tr>
            <td>
                <h:form>
                    <h:commandLink action="#{controladorPrincipal.retorno}" value="SIMULADOR dinâmico" />

                </h:form>
            </td>
        </tr>

        <tr>
            <td>
                <h:form>
                    <h:commandLink action="#{controladorPrincipal.onErro}" value="SIMULADOR testa erro" />
                </h:form>
            </td>
        </tr>

    </table>
</h:body>
</html>
