<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="tituloJanela">Sistema com JSF 2.0 e Facelets</ui:define>
		<ui:define name="conteudo">
			Seja bem vindo ao Sistema!!!!
		</ui:define>
	</ui:composition>
</html>
