<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/template.xhtml">
<ui:define name="tituloJanela">Simulador</ui:define>

<ui:define name="conteudo">

    <h:outputLabel value="#{controladorPrincipal.mensagen}" />
    <br /><br />
    <table align="center" cellpadding="10" cellspacing="10">

        <tr>
            <td><h:link outcome="simular/praticar">PRATICAR</h:link></td>
            <td><h:link outcome="simular/simular">SIMULAR</h:link></td>
            <td><h:link outcome="simular/estatistica">ESTATÍSTICAS</h:link></td>
            <td><h:link outcome="simular/noticias">NOTÍCIAS</h:link></td>
        </tr>

        <tr>
            <td><h:link outcome="privado/grupo/listar">Grupo </h:link></td>
            <td></td>
        </tr>

        <tr>
            <td><h:link outcome="usuario/usuario">Registrar Usuario</h:link></td>
            <td><h:link outcome="usuario/listarUsuario">Listar Usuario</h:link></td>
            <td><h:link outcome="ajax">Ajax</h:link></td>
        </tr>
        <tr>
            <td><h:link outcome="pergunta/registerPergunta">Registrar Perguntas - JPA</h:link></td>
            <td><h:link outcome="pergunta/listarPergunta">Listar/Editar Perguntas - Listener- JPA </h:link></td>
            <td><h:link outcome="pergunta/listarPergunta2">Listar/Editar Perguntas - Objeto Parametro - JPA</h:link></td>

        </tr>

        <tr>
            <td><h:link outcome="componentes/componentes">Componentes HTML</h:link></td>
            <td><h:link outcome="componentes/componentes2">Componentes HTML 2</h:link></td>

        </tr>

        <tr>
            <td><h:link outcome="componentes/componentes3">Componentes HTML 3</h:link></td>
            <td><h:link outcome="componentes/componentes4">Componentes HTML 4</h:link></td>
            <td><h:link outcome="componentes/tabela1">Componentes HTML 5</h:link></td>
        </tr>
    </table>

</ui:define>

</ui:composition>

</html>
